# Entornos virtuales
venv/
.venv/
env/

# Python / Caché
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter
.ipynb_checkpoints/

# Configuración y variables de entorno
.env
.env.*

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db